@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Code Reviewers</h1>
    <p>This is a simple application that shows/edits/creates/deletes diving locations near Key Largo, FL (where I live). </p>
</div>
