@using Samples.Web.Extensions;
@model DiveLocationEditModel


@{ ViewBag.Title = "Edit Dive Location";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


<div class="row">
    <div class="col-lg-12">
        <form asp-action="edit" asp-controller="DiveLocations" method="post" enctype="multipart/form-data" id="frmMain">
            <div id="lblErrorSummary" class="ibox-title" style="display:none">
                <h5>Error(s)</h5>
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>

            <div class="form-horizontal">

                <div class="form-group">
                    <input asp-for="DiveLocation.Id" type="hidden" />
                    <label asp-for="DiveLocation.LocationName" class="control-label"></label> <span asp-validation-for="DiveLocation.LocationName" class="text-danger"></span>
                    <input asp-for="DiveLocation.LocationName" class="form-control" />

                </div>
                <div class="form-group">
                    <label asp-for="DiveLocation.DiveDesc" class="control-label"></label> <span asp-validation-for="DiveLocation.DiveDesc" class="text-danger"></span>
                    <input asp-for="DiveLocation.DiveDesc" class="form-control" />

                </div>
                <div class="form-group">
                    <label asp-for="DiveLocation.GpsCoordinates" class="control-label"></label> <span asp-validation-for="DiveLocation.GpsCoordinates" class="text-danger"></span>
                    <input asp-for="DiveLocation.GpsCoordinates" class="form-control" />

                </div>
                <div class="form-group">
                    <label asp-for="DiveLocation.DiveTypeId" class="control-label"></label>
                    <select asp-for="DiveLocation.DiveTypeId" class="form-control" asp-items="ViewBag.DiveTypeId"></select>
                </div>

                
                <div class="form-group">
                    <label asp-for="Photo" class="control-label"></label> <span asp-validation-for="Photo" class="text-danger"></span>
                    @Html.DisplayImage(@Model.DiveLocation.ImageData)
                    <input asp-for="Photo" type="file" class="form-control" />

                </div>
            </div>

            <div class="text-right">
                <input type="submit" value="Save" class="btn btn-primary" />

            </div>
        </form>


    </div>
</div>

@section Scripts
{
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/jquery.validate.hooks.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            // Error Display
            $('#frmMain').addTriggersToJqueryValidate().triggerElementValidationsOnFormValidation();
            $('#frmMain').formValidationError(function (element, result) {
                $('#lblErrorSummary').show();
            });
        });
    </script>
}